<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.angryzyh.ylb.mapper.BidInfoMapper">

    <resultMap id="BaseResultMap" type="com.angryzyh.ylb.pojo.po.BidInfoPo">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="prodId" column="prod_id" jdbcType="INTEGER"/>
            <result property="uid" column="uid" jdbcType="INTEGER"/>
            <result property="bidMoney" column="bid_money" jdbcType="DECIMAL"/>
            <result property="bidTime" column="bid_time" jdbcType="TIMESTAMP"/>
            <result property="bidStatus" column="bid_status" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,prod_id,uid,
        bid_money,bid_time,bid_status
    </sql>

    <select id="selectAllBidMoney" resultType="java.math.BigDecimal">
        select sum(bid_money)
        from b_bid_info;
    </select>
</mapper>
